<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
        background-image: url('https://cdna.artstation.com/p/assets/images/images/058/447/184/large/adam-oates-blackandwhitenoise.jpg?1674167413');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        }
        </style>
    <title>FILLTHEVOID</title>
    <link rel="icon" type="image/x-icon" href="static/Images/cube(thick).png">
</head>

<body style="background-color:rgb(0, 0, 0);">
  <h1 style="color:white; font-family:helvetica; text-align:center; font-size: xxx-large;"> DEBUT ALBUM!</h1>
  <p style="color:white; font-family:Arial, Helvetica, sans-serif; transform: translate(65%, 25%); font-size: x-large;"><b> 
    Tracklist:<br>SAFE [INTRO]<br>SURRENDER<br>DIAMOND<br>FEELS LIKE<br>YEAHLETSGO<br>
    SPACE [INTERLUDE]<br>DRIFT<br>UNSUBSCRIBE<br>VITALS<br>STARING (WIP)<br>KEEP ON<br>GRIT </b></p>
    <img style=" transform: translate(55%, -75%); width: 450px"
    src="{{ url_for('static', filename = 'images/ALBUM ART.png') }}">
</body>
</html>