<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
        background-image: urL('https://cdnb.artstation.com/p/assets/images/images/064/639/531/large/sacredflame-album-background.jpg?1688413073');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:cover;
        }
        a:link {
         color: white;
         background-color: transparent;
         text-decoration: none;
}
        </style>
    <title>SACREDFLAME</title>
    <link rel="icon" type="image/x-icon" href="static/Images/cube(thick).png">
</head>

<body style="background-color:rgb(0, 0, 0);">
  <h1 style="color:white; font-family:helvetica; text-align:center; font-size: xxx-large; transform: translateY(150%);"> MUSIC<br><br>PORTFOLIO</h1>
  <a style="color: white; font-family:Arial, Helvetica, sans-serif; font-size: xxx-large;"
  href="http://127.0.0.1:5000/fillthevoid" ><b>MUSIC</b></a>
  <a style="color: white; font-family:Arial, Helvetica, sans-serif; font-size: xxx-large;"
  href="http://127.0.0.1:5000/portfolio" >
  <img style=" scale: 20%;"
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%; 
  src="static/Images/LINK[MUSIC].png"><b>PORTFOLIO</b></a>
</body>
</html>
# transform: translate(-50%,-50%);